@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    margin: 0px;
}

body {
    margin-top: 0px;
    background-image: url(2495.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blur {
    height: 100vh;
    width: 100vw;  
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: -1;
}

.heading {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    margin: 50px;
    text-align: center;
}

.content {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #FFFFFF;
    padding-left: 120px;
    padding-right: 120px;
    line-height: 1.3;
}
