.debunk-section {
    background-color: black;
}

.banner {
    background: url(../brain.jpg) no-repeat center center;
    background-size: cover;
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.aboutdebunk {
    width: 75%;
    margin: auto;
    color: white;
    text-align: center;
    background-color: black;
}

.aboutdebunk,
.deb-inits-1 .deb-inits-2 {
    margin: auto;
    color: white;
    text-align: center;
    background-color: black;
    font-size: 20;
    padding-bottom: 40px;
}



.deb-inits{
    color: white;
    text-align: left;
    width: 75%;
    margin: auto;
}

h2 {
    color: #e80edddb;
    font-size: 16;
}



#debimg1 {
    padding-top: 10%;
    padding-bottom: 10%;
    background: url(../themereveal.jpg) no-repeat center;


}

#debimg2 {
    padding-top: 10%;
    padding-bottom: 10%;
    background: url(../unnamed.jpg) no-repeat center;


}
.imgcont{
   display: flex;
   /* margin-bottom: 50px; */
   height: 40vh;
}

.deb-news-img1{
    margin-right: 50px;

    padding-top: 10%;
    padding-bottom: 10%;
    width: 185%;
    background: url(../news1.png) no-repeat ;

}
.deb-news-img2{

    background: url(../news2.png) no-repeat center;
background-size: 90%;
   width: 200%;
   height: 100%;
}
.deb-news-img3{
    padding-top: 10%;
    padding-bottom: 10%;
    background: url(../news3.jpeg) no-repeat center;
 background-size: 45%;
    width: 200%;
    border-radius: 50px;
}
.aifcb-img {
    padding-top: 10%;
    padding-bottom: 10%;
    background: url(../aifcimg.png) no-repeat center;
  background-size: 30%;
   height: 40vh;
   border-radius: 20%;
}
section{
    padding-bottom: 5vh;
}
.facts{
margin-bottom: 15px;
}
.theme{
    width:250px;
    margin-top: 0;
    padding-left: 0;
}
h3 {
    font-style: italic;
   padding-bottom: 1vh;
    margin-top: -20px;
}
p{
    padding-top: 30px;
    padding-bottom: 15px;
}

@media (max-width: 960px) {

    p {
        font-size: 12px;
    }

    .aboutdebunk h2 {
        font-size: 2.5rem;
    }

    .deb-inits {

        font-size: 2.5rem;

    }
}

@media (max-width: 800px) {

    p {
        font-size: 10px;
    }

    .aboutdebunk h2 {
        font-size: 2rem;
    }

    .deb-inits {
        font-size: 2rem;
    }
}


@media (max-width: 650px) {
    .banner {
        height: 30vh;

    }
}

.debin {
    margin-bottom: 20px !important;
    flex-direction: column !important;

}

#debimg1 {
    width: 100% !important;
    height: 160px;
    margin: 0 !important;
}

#debimg2 {
    width: 100% !important;
    height: 160px;
    margin: 0 !important;
}


.deb-inits-2 {
    flex-direction: column-reverse !important;
}
